header, footer{
  background-color: black;
  color:white;
}

.color-columna-dos {
  background-color: purple;
}
.color-precio {
  color: red;
}

.color-verde-texto {
  color:#51B525;
}

.tipo-negrita {
  font-weight: bold;
}

.imagen-ancho {
  width: 110%;
}
